{% extends "base.html" %}

{% block content %}
<h2>Customize Your Profile</h2>

<form method="POST">
    <label>Choose a Profile Picture:</label>
    <div>
        {% for pic in ["scsu.jpg", "science.jpg","math.jpg", "book.jpg", "music.jpg", "track.jpg", "football.jpg"] %}
            <label>
                <input type="radio" name="profile_picture" value="{{ pic }}" required>
                <img src="{{ url_for('static', filename='profile_pics/' + pic) }}" style="width: 100px; height: 100px;" class="profile-pic" alt="{{ pic }}">

            </label>
        {% endfor %}
    </div>
    <div>
        {% for pic in ["brain.jpg", "camera.jpg", "heart.jpg", "cyber.jpg", "law.jpg", "stats.jpg", "terminal.jpg"] %}
            <label>
                <input type="radio" name="profile_picture" value="{{ pic }}" required>
                <img src="{{ url_for('static', filename='profile_pics/' + pic) }}" style="width: 100px; height: 100px;" class="profile-pic" alt="{{ pic }}">

            </label>
        {% endfor %}
    </div>

    {% if current_user.is_authenticated %}
        <label>Update Description:</label>
        <textarea name="description">{{ current_user.description or '' }}</textarea>
    {% else %}
        <p>You aren't logged in so description can't be changed.</p>
    {% endif %}

    <button type="submit">Save Changes</button>
</form>
{% endblock %}
