{% extends "base.html" %}
{% block title %}Groups{% endblock %}
{% block page %}<h1>Group Feed</h1>{% endblock %}
{% block content %}
   <body>
    <h2>{{ group.name }}</h2>
{% if group.flairs %}
    <div><b>Flairs:</b>
        {% for flair in group.flairs.split(',') %}
            <span class="flair">{{ flair.strip() }}</span>
        {% endfor %}
    </div>
{% endif %}

    <div><b>Description: </b>    {{ group.description }} </div>
    
    <div class="feed">
        {% for message in messages %}
            <div class="message">
                <a href="{{ url_for('profile', user_id=message.author.id) }}">
                    <img src="{{ url_for('static', filename='profile_pics/' + message.author.picture) }}" alt="Profile Picture" class= profile-pic style="width: 50px; height: 50px;">
                </a>
                <strong>{{ message.author.username }}</strong>: {{ message.message }}
                <p><small>{{ message.time.strftime('%Y-%m-%d %H:%M:%S') }}</small></p>
            </div>
        {% endfor %}
    </div>
       <form method="POST" action="{{ url_for('group', group_id=group.id) }}">
        {{ form.hidden_tag() }}
        <input type="text" name="message" placeholder="Type your message here..." required>
        <button type="submit">Submit</button>
    </form>
   </body>
   
   {% if current_user.id == group.owner_id %}
   <form method="POST" action="{{ url_for('group', group_id=group.id) }}">
    
    Select Flairs
       
    <div>
           <label><input type="checkbox" name="flairs" value="Remote"
               {% if 'Remote' in group.flairs %}checked{% endif %}> Remote</label><br>
           <label><input type="checkbox" name="flairs" value="In-Person"
               {% if 'In-Person' in group.flairs %}checked{% endif %}> In-Person</label><br>
           <label><input type="checkbox" name="flairs" value="Note Sharing"
               {% if 'Note Sharing' in group.flairs %}checked{% endif %}> Note Sharing</label><br>
           <label><input type="checkbox" name="flairs" value="Quizzes"
               {% if 'Quizzes' in group.flairs %}checked{% endif %}> Quizzes</label><br>
           <label><input type="checkbox" name="flairs" value="Math"
               {% if 'Math' in group.flairs %}checked{% endif %}> Math</label><br>
           <label><input type="checkbox" name="flairs" value="Psychology"
               {% if 'Psychology' in group.flairs %}checked{% endif %}> Psychology</label><br>
           <label><input type="checkbox" name="flairs" value="Computer Science"
               {% if 'Computer Science' in group.flairs %}checked{% endif %}> Computer Science</label><br>
           <label><input type="checkbox" name="flairs" value="Biology"
               {% if 'Biology' in group.flairs %}checked{% endif %}> Biology</label><br>
           <label><input type="checkbox" name="flairs" value="History"
               {% if 'History' in group.flairs %}checked{% endif %}> History</label><br>
           <label><input type="checkbox" name="flairs" value="Physics"
               {% if 'Physics' in group.flairs %}checked{% endif %}> Physics</label><br>
       </div>
       <button type="submit">Change Flairs</button>
   </form>
   {% endif %}
{% endblock %}