{% extends "base.html" %}
{% block title %}{{ user.username }}'s Profile{% endblock %}
{% block content %}
    <h2>{{ user.username }}'s Profile</h2>

    <img src="{{ url_for('static', filename='profile_pics/' + user.picture) }}" alt="Profile Picture" class=profile-pic style="width: 180px; height: 180px;">

    <h3>Description:</h3> 
    <h4>{{ user.description }}</h4>

    <h3>Groups:</h3>
        <ul>
            {% for group in groups %}
                <li><a href="{{ url_for('group', group_id=group.id) }}">{{ group.name }}</a></li>
            {% endfor %}
        </ul>

    <!-- Display groups the current user is in but the profile user is not -->
{% if current_user.study_groups %}
<h3>Invite {{ user.username }} to Your Groups</h3>
<ul>
    {% for group in current_user.study_groups %}
        {% if user not in group.members %}
            <li>
                {{ group.name }}
                <form method="POST" action="{{ url_for('invite_user', group_id=group.id, user_id=user.id) }}">
                    {{ form.hidden_tag() }}
                    {{ form.submit(class="btn btn-primary") }}
                </form>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% elif user == current_user %}
<p>You cannot invite yourself to your own groups.</p>
{% else %}
{% else %}
<p>You are not in any groups.</p>
{% endif %}

{% endblock %}
