{% extends "base.html" %}
{% block content %}

<h1>Saved Quizzes</h1>

<ul class="list-group"> 
    {% for quiz in quizzes %}
        <li class="list-group-item">
            {{ quiz.name }}
            <div class="button-group"> 
                <a href="{{ url_for('take_quiz', quiz_id=quiz.id) }}" class="button-link">Take Quiz</a> 
                <a href="{{ url_for('download_quiz', quiz_id=quiz.id) }}" class="button-link">Download</a> 
            </div>
        </li>
    {% endfor %}
</ul>

<div style="text-align: center; margin-top: 20px;">
    <a href="{{ url_for('mkquiz') }}" class="button">Quiz Creator</a>
</div>
{% endblock %}
